html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Alice', serif;
    vertical-align: baseline;
    background: transparent;
}
/* Index Page, where the user can Log in into thier account*/
.BodyTagIndex {margin: auto; width: 1280px; height: 100%;}
.BodyTag {margin: auto; width: 1000px; height: 100%;}

.foot{
   position:absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   background: #429552;
   padding: 5px 0 0 0;
}
.foot li {
    padding: 0 5px 0 0; 
    font-size: 10pt;
    display: inline-block;
}
.foot a {
    text-decoration: none;
    color: #ccc; 
    font-size: 11pt; 
    padding: 0 0 0 5px;
}

.foot p {
    color: #808080;
}
form.logInForm {
    margin: 180px 440px 0 450px; 
    background-color: #fff;
    border: 1px solid #999; 
}
form.logInForm > .formInputs {
    padding: 50px 50px 5px 50px;
}
form.logInForm hr {
    size: 1px;
    color: #999;
}
input.userEmail {margin: 0 0 0 29px;padding: 1px 0 1px 3px;}
input.userPassword {margin: 0 0 0 35px;padding: 1px 0 1px 3px;}
input[type="text"], input[type="password"] {border-radius: 4px;margin: 0 0 0 10px;background: white;font-size: 9pt;border: 1px solid #a9a9a9;}
.userEmail input[type="text"]:focus, .pass input[type="password"]:focus {outline: none;-webkit-box-shadow: 0px 0px 4px #49ef74;-mox-box-shadow: 0px 0px 4px #49ef74;box-shadow: 0px 0px 4px #49ef74;}
.pass p {font-size: 20pt;}
.forgotPass p {font-size: 11pt;text-decoration: none;margin: -14px 0 -18px 13px;}
.forgotPass a {color: #000;text-decoration: none;}

#bg {
    position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

img.indexPhoto {
    opacity: 1;
    -moz-transition: opacity 3s ease-in-out;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.video {
    margin: -1px 0 0 -40px;
}

input.login {color: #ffffff;border: 1px solid #50a867;border-radius: 4px;font-size: 10pt;background: #50a867;margin: -50px 0 0 230px;cursor: pointer;}
.mapNightInfo {
    margin: -172px 650px 10px 300px; 
    background-color: #eff460;
}
.maplogo {margin: 0 350px -30px 120px; padding: 10px 0 0 0;}
.mapExpo {
    margin: 10px 0 0 0;
    padding: 30px 0 33px 0;
    font-size: 11pt;
    text-align: center;
}

.eventADD{
    background-color: red;
    margin: -161px 323px 0 630px;
}

.eventADD p{
    padding: 80px 0 32px 0;
    font-size: 12pt;
    text-align: center;
}
.createNewId{margin: -150px 0 60px 957px; padding: 10px 0 0 0;}
.userPic {margin: 0 0 0 115px;}
.newUser p {font-size: 12pt;text-align: center; padding: 10px 0 23px 0;}
.newUser a {color: #50a867;text-decoration: none;}

.slogan p {
    font-size: 16pt;
    text-align: center; 
    padding: 5px;
    margin: 5px 0 -30px 0;
}

.inputErrorE {
    padding: -25px 0 20px 0;
    margin: -5px 0 -23px 12px;
    color: #ff0000;
}

.inputErrorP {
    padding: -30px 0 0 0;
    margin: -5px 0 -38px 12px;
    color: #ff0000;
}


/* Milber Page, where the user can see the content of the map, view new events and posts  */
/* ---------------------------------------------------------------------*/
#mainBODYLook {background-color: #fff;}
#header {width: 100%; height: auto; background-color: #429552; padding: 13px 0 0 0; position: fixed; z-index: 1;top: 0;}
#headerContent {margin: auto; width: 1000px; height: 100%;}
#header hr {margin: 0;border: 3px solid #429552;}
img.userPhoto {margin: 230px 0 -250px 60px;padding: 0;position: relative;width: 60px;height: 60px; border-radius: 100%;}
.userName a {text-decoration: none;font-size: 16pt;margin: -30px 500px 0 116px;padding: 0 5px 0 10px;color: #a3eeb2;}
.userName a:hover {color: #fff;}
ul.onenav  {padding: 10px 0 0 400px;margin: -40px 0 -255px 0;}
ul.onenav > li:hover {cursor: pointer;}
ul.onenav li {display: inline;padding: 0 10px;}
ul.onenav img {width: 40px;height: 40px;border-radius: 100%;}
#header input[type="text"]{border-radius: 20px;font-size: 10pt;outline: none;padding: 4px 0 4px 25px;margin: 9px 0 -2px 620px;background: #000 url(../images/loop2.png) no-repeat;background-position: center left;background-color: #a3eeb2;border: none;box-shadow: 0 2px 4px rgba(0,0,0,0.80) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;transition: all 0.2s linear;}
#header input[type="text"]:focus {background-color: #fff;}

#switchOn > img{
    box-shadow: 0 0 13px #f8f79f;
    -webkit-box-shadow: 0 0 0 13px #f8f79f;
    -moz-box-shadow: 0 0 0 13px #f8f79f;
}


.navTools {margin: -40px 53px -20px 380px;}
ul.navTools  {padding: 13px 0px 0px 1px;}
li.about_btn a:hover {border-top-left-radius: 4px;}
li.friend_btn a:hover {border-top-right-radius: 4px;}
ul.navTools li {display: inline; margin: 0; padding: 0; text-align: center;}
ul.navTools a {text-decoration: none;color: #a3eeb2;display: inline; padding: 7px 29px 12px 29px; margin: -20px 0 0 0;}
ul.navTools a:hover {color: #fff;}

ul.navTools > #invites > a > span.showMesToUserOnToolB {
    color: #fff;
    background-color: red;
    padding: 0;
    border-radius: 5px;
    margin: 0 3px 0 0;
    font-size: 10pt;
}

.content {
    margin: 115px 0 0 -70px;
    border: 0 solid #727271;
    max-width: 765px;
    height: 480px;
}

.contentInfo {
    background-color: #ffffff;
    margin: -530px 0 0 770px;
    width: 280px;
    border: 2px solid #727271;
    height: 468px;
}

.MainContent{
    margin: 50px auto;
    width: 1000px;
}

#Whan_to_say {
    padding: 0 0 5px 5px;
    margin: 50px 0 0 0;
    font-size: 10pt;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 70px;
    width: 550px;
}

/* How will the POST on the home page will looks like */
/*----------------------------------------------------*/
.wanttoPostanEvent {
    margin: 20px 0 60px -120px;
}

.testareaAndSubmit input[type="submit"]{
    margin: 0 0 5px 0;
}

.testareaAndSubmit {
    margin: 0 405px 0 61px;
}

.testareaAndSubmit blockquote {
    margin: 5px 0 -20px 10px;
}

#eventPosts {
    font-size: 12pt;
    padding: 5px;
    height: 74px;
    width: 569px;
    margin: 0 0 0 0;
    resize: none;
    border: 1px solid #727271;
    border-radius: 2px;
}

#map {
    width: 840px; 
    height: 471px;
    z-index: 0;
}

/*How will the post look like on the home page*/
/*--------------------------------------------*/
#viewWindowsMessages{
    margin: 40px 0 0 -50px;
}
#viewWindowsMessages > div > .postedUserPic {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0 0 -45px -80px;
}

#viewWindowsMessages > div {
    width: 570px;
    margin: -50px 0 93px 60px;
    padding: 5px;
}

#viewWindowsMessages > div:nth-child(even){
    /*border-left: 2px solid #bdbdbd;*/
    background: #eeeeee;
    border-radius: 5px;
}
#viewWindowsMessages > div:nth-child(odd){
    /*border-left: 2px solid #a6a6a6;*/
    border-radius: 5px;
}

#viewWindowsMessages > div > .GoEventCommentTalkAboutIT {
    margin: 25px 0 -25px 0;
}

/*
#viewWindowsMessages input[type="button"]{
    margin: 0 0 15px 200px;
}*/
#viewWindowsMessages > div >.OneB{
    color: #b0453d;
    font-weight: 18pt;
    margin: -20px 0 -35px 0;
}
#viewWindowsMessages > div >.OneB > span {
    margin: 0 0 0 10px;
    font-size: 10pt;
    color: #989897;
}

#viewWindowsMessages > div > .contentPOST{
    width: 500px;
    margin: 45px 0 -20px 0;
    /*color: #fff;*/
    padding: 5px;
}

.GoUp {
    border-radius: 100%;
    margin: 0 0 0 450px;
    text-decoration: none;
    background-color: #72b476;
    padding: 25px 20px;
    opacity: 0.8;
    color: #fff;
}


/* User Page, where they will able to navigate from ABOUT page, into events, photos or settings.*/
/* ---------------------------------------------------------------------------------------------*/

.usrContHR hr {
    margin: 0;
    color: #50a867;
    border: 3px solid #50a867;
    border-radius: 3px;
}

.Postevents {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    text-align: justify;
    height: 500px;
    width: 500px;
}
/*css fro the name in the navigation*/

p.NameInTheNav {margin: 170px 0 40px 230px;font-size: 30pt;color: #fff;}

/* That css part is for  user/events/photos/*/
/*------------------------------------------*/
#rightTools {margin: 55px 110px 0 20px;padding: 0;}
#rightTools li {text-decoration: none;}

#rightTools hr {
    border: 1px solid #50a867;
}

#rightTools hr.innerhr {
    border-color: #444442;
}

#rightTools p {
    /*background: -moz-linear-gradient(top,#abd8b0, #fff);
    background: -webkit-linear-gradient(top,#abd8b0, #fff);*/
}

#Option-2 h6 {
    margin: 0;
    padding: 0;
    float: right;
}

#Option-1, #Option-2, #Option-3, #Option-4, #Option-5, #Option-7, #Option-8, #Option-9, #Option-20, #Option-10, #Option-11, #Option-12, #Option-15, #Option-16, #Option-17, #Option-19, #Option-22{
    margin: 0 15px 0 15px;
}

div.sections_btn_holder > p  {
    border: none;
    padding: 10px 0 10px 40px;
    background-color: none;
    cursor: pointer;
    font-size: 14pt;
}

.options ul > li {
    list-style: none outside none;
}

 #aboutUserMap {
    width: 840px; 
    height: 440px;
    z-index: 0;
}


/*----Settings Page-------*/
/*------------------------*/
div.accountSettingsPic img{height: 260px;width: 350px;margin: 0 0 -280px 380px;}
div.accountSettingsInfo {margin: 0 0 10px 0;padding: 1px 0 0 0;}
span.accountNamesDisplay > p {margin: 0 -180px 0 0;padding: 10px 5px;text-align: center;}
p.MemberOn {margin: -20px 0 0 0;float: right;}
span.accountNamesDisplay {text-align: right;width: 140px;padding: 0 0 5px 0;margin: 3px 0 0 0;float: left; font-size: 11pt;}
.newInfoError {margin: 0 345px 0 0;text-align: center;color: #f00;font-size: 10pt; padding: 0 0 -10px 0;}
div.prosileInputSettings {margin: -17px 0 5px 160px;}
div.prosileInputSettings input[type="text"], div.prosileInputSettings input[type="password"], .passwordChange input[type="password"]{border-top: none;border-left: none;border-right: none;border-radius: none;padding: 0 0 0 6px;outline: none;}

div.prosileInputSettings input[type="submit"]{
    margin: 20px 0 0 120px;
    outline: none;
}
div#photoFileChnage {
    margin: -311px 0 100px 0;
}
div.PhotoError {
    margin: 5px 0 0 400px;
    color: #f00;
    font-size: 10pt;
}

div.prosileInputSettingsFILE input[type="file"]{
    margin: -30px 0 -30px 240px;
    background-color: #3d3d3c;
    padding: 236px 139px 4px 10px;
    opacity: 0;
    -moz-transition: opacity .3s linear;
}
div.prosileInputSettingsFILE input[type="file"]:hover{
    opacity: .8;
    -moz-transition: opacity .1s linear;
}

.passwordChange p{
    text-align: center;
}
.passwordChange input[type="password"]{margin: 10px 0 10px 300px; width: 200px;}

.passwordChange input[type="submit"]{
    margin: 0 0 0 350px;
}

.PasswordChnageFromOldToNew {color: #f00;text-align: center;font-size: 10pt;}

.disableAccount a {
    font-size: 12pt;
    text-decoration: none;
    color: #fff;

}
.disableAccount {
    border: 2px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #dc5644;
}

.deleteAccount a {
    font-size: 12pt;
    text-decoration: none;
    color: #fff;
}

.deleteAccount {
    border: 2px solid #e1e1e1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e1e1e1;
    padding: 10px 0 10px 30px;
    background-color: #dc5644;

}

/*   CSS FOR USER PAGE, WHERE THEY WILL SEE THIER EVENTSAND POSTS-*/
/*----------------------------------------------------------------*/

#UserPage {
    margin: 90px 0 20px 0;
}

#UserPage h6 {
    margin: auto;
    padding: 0 0 0 300px;
}

table.calendar {
    background-color: #fdfddd;
    margin: -18px 0 0 0px;
    border-collapse: collapse;
}
table.calendar th {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #000;
}

table.calendar td {
    padding: 3px;
    height: 0;
    width: 650px;
}

/*  Make an event CSS */
/*--------------------*/

.UsersEvent img {
    margin: 0 120px 0 120px;
    height: 150px;
    width: 150px;
}
.UsersEvent a {
    margin: 0 140px 0 140px;
}

.4buttonsInside {
    margin: 0 2px 0 2px;
}

#Option-5 > .mainMesLook >.messagesFrom {
    background-color: red;
    height: 150px;
    width: 250px;
}
#Option-5 > .mainMesLook > .mesConversation {
    background-color: blue;
    height: 150px;
    width: 590px;
    margin: -150px 0 0 250px;
}




/*   MILBR RIGHTS */
/*----------------*/
.milberRights p {color: #808080;font-size: 10pt;margin: 0 0 0 900px;}

/*css for log in page if they were log on */
/*----------------------------------------*/

.loginHolds {
    height: 200px;
    width: 350px;
    background-color: #8ed96a;
    margin: 100px auto;
    box-shadow: -1px 1px 19px 0px rgba(50, 50, 50, 0.63);
    -webkit-box-shadow: -1px 1px 19px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow: -1px 1px 19px 0px rgba(50, 50, 50, 0.63);
}

.loginHolds blockquote {
    padding: 10px;
}

.title img {
    margin: 0 0 -80px 0;
}

.title p {
    margin: -80px 0 300px 0;
    font-size: 30pt;
    padding: 0;
}
div.signOutTitle {
    background-color: #79c254;
    padding: 20px 10px;
}
div.signOutButton {
    margin: 43px 0 0 0;
    padding: 20px 10px;
    background-color: #79c254;
}

/*CSS FOR search results*/
/*----------------------*/
.searchDisplayResult {
    display: table;
    margin: 0 0 0 70px;
}

.resultWindow {
    background-color: #fff;
    display: inline-block;
    height: 100px;
    width: 275px;
    margin: 0 0 15px 0;
}

.resultWindow:hover {
    background-color: #f2efef;
}

.resultWindow > .searchResultPic {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin: 5px 0 -70px 5px;
}
.resultWindow > .SearchedName {
    font-size: 10pt;
    margin: -18px 0 20px 105px;
}
.resultWindow > .resultView {
    padding: 0 7px;
    border-radius: 15px;
    margin: 0 0 0 99px;
    text-decoration: none;
    color: #000;
    font-size: 10pt;
}
.resultWindow > .resultView:hover {
    color: #297438;
    /*background-color: #eceaea;*/
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 0 0 97px;
}

.resultWindow > .resultAdd {
    padding: 0 7px;
    border-radius: 15px;
    margin: 0 3px 0 3px;
    text-decoration: none;
    color: #000;
    font-size: 10pt;
}

.resultWindow > .resultAdd:hover {
    color: #297438;
    /*background-color: #eceaea;*/
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 0px 0 4px;
}

.resultWindow > .resultMessage {
    padding: 0 7px;
    border-radius: 15px;
    margin: 0 0 0 0;
    color: #000;
    font-size: 10pt;
    text-decoration: none;
}
.resultWindow > .resultMessage:hover {
    color: #297438;
    /*background-color: #eceaea;*/
    background-color: #fff;
    border: 1px solid #ccc;
}

.resultWindow > span > .friendsAlready {
    margin: 0 15px 0 170px;
}

/*CSS FOR FRIEND PAGE*/
/*-------------------*/

.NewFriendList {
    height: 100px;
    width: 250px;
    background-color: #fff;
    padding: 10px;
}
.NewFriendList:hover {
    background-color: #f2efef;
}

.NewFriendList > .NewFriendPic {
    border-radius: 100%;
}

.NewFriendList > .names {
    margin: -100px 0 30px 120px;
}

.NewFriendList > .confirms {
    margin: 0 0 0 140px;
}

#rightTools > .sections_btn_holder > p > .numMessage {
    background-color: #df3030;
    padding: 1px 0;
    margin: 0 10px 0 0;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
}
#rightTools > .sections_btn_holder > p > .numOfTotalFriends {
    color: #aaa;
    font-size: 12pt;
    margin: 0 0 0 10px;
}

#rightTools > #Option-10 > .allNewFriends {
    display: table;
    margin: 0 0 0 0;
}

.CssIsForNewFriendOnlineFCurentF {
    background-color: #fff;
    display: inline-block;
    height: 100px;
    width: 275px;
    margin: 0 0 5px 0;
    /*background-image: url("../images/backgroundPic.jpg");*/
}
.CssIsForNewFriendOnlineFCurentF:hover{
    background-color: #f2efef;
}

.CssIsForNewFriendOnlineFCurentF > .NewFriendRequestPic {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin: 5px 0 -70px 5px;
}

.CssIsForNewFriendOnlineFCurentF > .Name {
    font-size: 11pt;
    margin: -18px 0 20px 105px;
}

.CssIsForNewFriendOnlineFCurentF > .friendConfirmButton {
    padding: 0 7px;
    border-radius: 15px;
    margin: 0 15px 0 110px;
    text-decoration: none;
    color: #000;
    font-size: 11pt;

}

.CssIsForNewFriendOnlineFCurentF > .friendConfirmButton:hover {
    color: #297438;
    /*background-color: #eceaea;*/
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 15px 0 108px;
}

.CssIsForNewFriendOnlineFCurentF > .friendDeclineButton {
    padding: 0 7px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    font-size: 11pt;
}
.CssIsForNewFriendOnlineFCurentF > .friendDeclineButton:hover {
    color: #f42626;
    /*background-color: #eceaea;*/
    background-color: #fff;
    border: 1px solid #ccc;
}

.CurFriendInfo {
    display: inline-block;
    background-color: #fff;
    height: 100px;
    width: 275px;
    margin: 0 0 5px 0;
}
.CurFriendInfo:hover {
    background-color: #f2efef;
}

.CurFriendInfo > .CurFriendName {
     font-size: 10pt;
    margin: -18px 0 20px 105px;
}

.CurFriendInfo > .CurFriendPic {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin: 5px 0 -70px 5px;
}

.CurFriendInfo > .delCurFriend {
    margin: 0 0 0 150px;
    text-decoration: none;
    background-color: red;
    padding: 0 4px;
    color: #fff;
    font-size: 11pt;
    border-radius: 100%;
}


/*THIS CSS IS FOR makeNewEvent.php*/

.registrationLogo {
    margin: 120px 0 0 0;
    height: 50px;
    width: 50px;
}

.milberRegistration {
    margin: -30px 0 -22px 65px;
    font-size: 15pt;
}

#makingNewEventForm > .EventChoiceOrPoint {
    margin: 0 0 0 250px;
}

.eventClass {
    margin: -20px 0 0 650px;
}

.eventClass input[type="text"]{
    margin: 0 0 5px 80px;
    padding: 0 50px 0 5px;
    border-radius: 4px;
    background: #fff;
    font-size: 9pt;
    border: 1px solid #a9a9a9;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    -mox-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
}
.eventClass input[type="password"]{
    margin: 0 0 5px 80px;
    padding: 0 50px 0 5px;
    border-radius: 4px;
    background: #fff;
    font-size: 9pt;
    border: 1px solid #a9a9a9;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    -mox-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
}

.eventClass input[type="submit"]{
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin: 0 0 0 80px;
}

.eventClass input[type="text"]:focus, .eventClass input[type="submit"]:focus, input[type="password"]:focus, .eventClass textarea:focus, .eventClass select:focus {
    outline-color: 0;
    outline: none;
    -webkit-box-shadow: 0px 0px 4px #49ef74;
    -mox-box-shadow: 0px 0px 4px #49ef74;
    box-shadow: 0px 0px 4px #49ef74;
} 

.eventClass textarea {
    margin: 5px 0;
    padding: 5px;
    height: 100px;
    width: 300px;
    resize: none;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.eventClass select {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin: 0 -63px 5px 80px;
}

.eventClass > .fieldNamesOnNewEvent {
    font-size: 11pt;
    margin: 0 300px -20px -100px;
    text-align: right;
}

.eventClass > .newEventErrorMsg {
    margin: -2px 0 -3px -70px;
    font-size: 11pt;
    color: #f00;
}








